/* Кнопка для позвращения на верх */
#toTop {
	z-index: 1000 !important;
    padding:5px;
    position:fixed;
    bottom:30px; /* отступ кнопки от нижнего края страницы */
    right:30px;
    cursor:pointer;
    display:none;
}